// ===================================
// assets/scss/components/_container.scss
// ===================================

/* Component: Container */
.container-fluid {
  // max-width: $container__width;
  @include bp-medium-min {
    padding-left: 40px;
    padding-right: 40px;
  }

  &--max {
    max-width: $container__width + ( $container__gutter * 2 );
  }

  &--max-xs {
    max-width: 570px + ( $grid-gutter-width * 2 );
  }
}