// =================================================
// assets/scss/components/_utility.scss
// =================================================

/* Component: Utility */

//
// Text align
//

.left-text { text-align: left; }
.right-text { text-align: right; }
.center-text { text-align: center; }

//
// WordPress Alignment Classes
//

.alignright {
  float: right;
  @include margin( 0 0 25px 35px );
}

.alignleft {
  float: left;
  @include margin( 0 35px 25px 0 );
}

.alignnone {}

//
// Visually Hidden
//

.visually-hidden {
  @extend %visually-hidden;
}

//
// Colors
//

.color {

  // Theme Colors
  &--primary { color: $color__primary; }
  &--sec { color: $color__secondary; }
  &--danger { color: $color__danger; }
  &--success { color: $color__success; }
  &--light { color: $color__light; }
}

// Links: Hover - Colors
a.color {
  &--primary:hover { color: $color__primary-hover; }
  &--sec:hover { color: $color__secondary-hover; }
  &--danger:hover { color: $color__danger-hover; }
  &--green:hover { color: $color__success-hover; }
}

//
// Background Colors
//

.bg-color {

  // Theme Colors
  &--primary { background-color: $color__primary; }
  &--sec { background-color: $color__secondary; }
  &--danger { background-color: $color__danger; }
  &--success { background-color: $color__success; }
  &--light { background-color: $color__light; }
}

//
// Links with Colors
//

//
// Responsive Classes
//

.hide--on-mobile {
  @include bp-medium { display: none !important; }
}

.hide--on-desktop {
  @include bp-medium-min { display: none !important; }
}